<section id="footer" class="footer w-full bg-[#00163d]">
  <div
    class="flex flex-col md:flex md:flex-row justify-between w-full lg:max-w-5xl mx-auto px-6  lg:px-8 py-20 text-white"
  >
    <div>
      <div class="flex items-center flex-col gap-3">
        <img
          src="../assets/logo.png"
          alt="FTC Logo"
          class="w-10 h-10 md:w-20 md:h-20"
        />
        <p class="font-bold">Floor Tech-Epoxy Flooring Co. ,Kuwait</p>
      </div>
      <div class="flex items-center gap-2 mt-6">
        <img src="../assets/building.png" alt="Location" class="w-5 h-5" />
        <span>Kuwait</span>
      </div>
      <div class="flex items-center gap-2">
        <img src="../assets/mail.png" alt="Email" class="w-5 h-5" />
        <span>floortechkw@gmail.com</span>
      </div>
      <div class="flex items-center gap-2">
        <img src="../assets/call.png" alt="Phone" class="w-5 h-5" />
        <span>+965-99240475<br />+965-55820603</span>
      </div>
    </div>
    <div>
      <ul>
        <li class="font-bold mb-2 mt-4 md:mt-0">Quick Links</li>
        <li>
          <div class="w-[45px] w-1/2 h-0.5 bg-blue-600 mb-3"></div>
        </li>
        <li>
          <a href="/about.html" class="hover:text-blue-600 transition-colors"
            >About Us</a
          >
        </li>
        <li>
          <a href="/contact.html" class="hover:text-blue-600 transition-colors"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="font-bold mb-2 mt-4 md:mt-0">Services</li>
        <li>
          <div class="w-[45px] w-1/4 h-0.5 bg-blue-600 mb-3"></div>
        </li>
        <li>
          <a href="../services/epoxyflooring.html" class="hover:text-blue-600 transition-colors"
            >Epoxy Floorings</a
          >
        </li>
        <li>
          <a href="../services/epu-floorings.html" class="hover:text-blue-600 transition-colors"
            >EPU Floorings</a
          >
        </li>
        <li>
          <a href="../services/pu-flooring.html" class="hover:text-blue-600 transition-colors"
            >PU Floorings</a
          >
        </li>
        <li>
          <a href="../services/ep-pu-flooring.html" class="hover:text-blue-600 transition-colors"
            >EP-PU Floorings</a
          >
        </li>
        <li>
          <a href="../services/esd-floorings.html" class="hover:text-blue-600 transition-colors"
            >ESD Floorings</a
          >
        </li>
        <li>
          <a href="../services/pu-concrete.html" class="hover:text-blue-600 transition-colors"
            >PU Concrete Floorings</a
          >
        </li>
      </ul>
    </div>

    <div>
      <ul>
        <li>
          <a
            href="../services/green.html"
            class="hover:text-blue-600 transition-colors block md:mt-12"
            >Green Floorings</a
          >
        </li>
        <li>
          <a href="../services/polyaspartic.html" class="hover:text-blue-600 transition-colors block"
            >Poly Aspartic Floorings</a
          >
        </li>
        <li>
          <a href="../services/oneday.html" class="hover:text-blue-600 transition-colors block"
            >One Day Floorings</a
          >
        </li>
        <li>
          <a href="../services/densipolished.html" class="hover:text-blue-600 transition-colors block"
            >Densi Polished Floorings</a
          >
        </li>
        <li>
          <a href="../services/deckcoatings.html" class="hover:text-blue-600 transition-colors block"
            >Deck Coatings</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="font-bold mb-2 mt-4 md:mt-0">Social Media</li>
        <li>
          <div class="w-[45px] md:w-1/2 h-0.5 bg-blue-600 mb-3"></div>
        </li>
        <a href="#" class="group relative w-10 h-10 inline-block">
          <img
            src="../assets/fb.png"
            alt="Facebook"
            class="absolute inset-0 w-10 h-10 group-hover:opacity-0 transition-opacity"
          />
          <img
            src="../assets/fb_hover.png"
            alt="Facebook Hover"
            class="absolute inset-0 w-10 h-10 opacity-0 group-hover:opacity-100 transition-opacity"
          />
        </a>
        <a href="#" class="group relative w-10 h-10 inline-block">
          <img
            src="../assets/insta.png"
            alt="Facebook"
            class="absolute inset-0 w-10 h-10 group-hover:opacity-0 transition-opacity"
          />
          <img
            src="../assets/insta_hover.png"
            alt="Facebook Hover"
            class="absolute inset-0 w-10 h-10 opacity-0 group-hover:opacity-100 transition-opacity"
          />
        </a>
      </ul>
    </div>
  </div>
</section>
