* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 30px;
  font-family: Heebo, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

main{

  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;

  h2{
    font-size: 32px;
    font-family: Archivo, sans-serif;
    color: #0e2b5c;
    font-weight: 700;
    margin-bottom: 18px;
  }

  p{
    color: #7e8a96;
    font-family: Heebo, sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .container{
      width: 1080px;

    .content-description{
      display: flex;
      padding-left: 10px;

      .column-list{
        padding-left: 30px;

        .list-contents{
          padding-left: 20px;

          i{
            margin-right: 5px;
          }

          p{
            margin-bottom: 10px;
            color: #353535;
            font-size: 16px;
          }
        }
      }
    }

  }
}


.footer {
  background-color: #00173E;
  color: white;
  position: relative;
  padding: 40px 20px 20px 20px;
  min-width: 550px;
  height: 569px;
  display: flex;
  justify-content: center;

  .blue-hover:hover{
    color: #2296F9;
  }

  .footer-container{
    /* background-color: blue; */
    width: 100%;
    
    max-width: 1190px;
    height: 508.8px;
    padding: 60px 10px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .grid-container{
      display: grid;
      grid-template-columns: 3fr 1fr 4fr 2fr;
      /* height: 400px; */
      height: 90%;
      flex: 95;

      /* .column{
         background-color: black;
      } */

      .column1{
        display: flex;
        flex-direction: column;
        align-items: start;

        .logo{
          height: 105px;
          padding-left: 52px;
          margin-bottom: 10px;
        }

        .icon{
          margin-right: 12px;
          height: 24px;
        }

        .company-name{
          margin-bottom: 24px;
          font-size: 15px;
        }
      }

      .column2{
        span{
          border-bottom: 1px solid #2296f9;
          padding-bottom: 17px;
          font-size: 18px;
          font-family: Archivo, sans-serif;
        }
        li{
          padding: 7px 0;
        }
        .column-home{
            padding-top: 20px;
      }
      }
      .column3{
        display: flex;
        flex-direction: column;

        span{
          border-bottom: 1px solid #2296f9;
          padding-bottom: 12px;
          align-self: start;
          font-size: 18px;
          font-family: Archivo, sans-serif;
        }

        .service-grid-container{
          display: grid;
          grid-template-columns: 40% 51%;
          margin-top: 2px;
          gap: 2px;
          div{
            margin-top: 7px;
          }
        }
      }

      .column4{
        span{
          border-bottom: 1px solid #2296f9;
          padding-bottom: 18px;
          font-size: 18px;
          font-family: Archivo, sans-serif;
        }

        p{
          margin: 24px 0;
        }

        .social-icons{
          display: flex;
          a {
            flex: 1;
            height: 60px;

            img{
              height: 100%;
            }
          }
        }
      }
    }
    .footer-bottom{
      height: 56.4px;
      text-align: center;
      padding-top: 10px;
      border-top: 1px solid #0e2b5c;
      height: 9%;      
      margin-top: 1px;
      /* flex: 5; */
    }
  }
}

@media (max-width: 600px) {

    main{

      p{
        font-size: 14px;
      }

      .container{
        .content-description{
          flex-direction: column;
          gap: 30px;

          .flex-item{
            flex: 1;
          }

          .column-list{
            .list-contents{
              p{
                font-size: 14px;
              }
            }
         
          }
        }

      }
  }

  .footer .footer-container .grid-container {
    grid-template-columns: 1fr;
    /* height: 1337px; */
  }

  .footer{
    height: 1250px;

    .footer-container{
      height: 1100px;

      .footer-bottom{
        margin-top: 136px ;
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 1092px) {

      main{

        p{
          font-size: 16px;
        }

      .container{
        .content-description{
          flex-direction: column;
          gap: 30px;

          .flex-item{
            flex: 1;
          }

          .column-list{
            .list-contents{
              p{
                font-size: 14px;
              }
            }
         
          }
        }

      }
  }

  .footer .footer-container .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer{
    height: 996px;

    .footer-container{
      height: 956px;
    }
  }
}
